<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=TimesNewRoman">
</head>
<body>
<div id="banner">
	<a id="none" href="main.html"><h2> NYU ABU DHABI </h2> </a>
</div>
<!-- Course Search API, I can CSS it :)  -->

<h1 id="className">Class Name 1</h1>
<p id="prereq"> PreRequests</p> 

<table id="class">
  <tr>
<!--  <th> Add to Plan</th> -->
    <th>Section</th>
    <th>Day</th>
    <th>Time</th>
    <th>Professor</th>
    <th>Email</th>
    <th>Syllabus</th>
   
  </tr>
  <tr> <!-- every row -->
  	<td>
  		<label class="container">1
  <input type="checkbox" >
  <span class="checkmark"></span>
</label>
  	</td>

    <!-- <td>1</td> -->
    <td>Tue/Thurs</td>
    <td>9:00-10:15 AM</td>
    <td>Mai Odeh</td>
    <td>mo69@nyu.edu</td>
    <td>N/A</td>
    <!-- <td><input type="checkbox" ></td> -->
  </tr>
  <tr>
  	<!-- <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td> -->
    <td> 		<label class="container">2
  <input type="checkbox" >
  <span class="checkmark"></span>
</label></td>
    <td>Tue/Thurs</td>
    <td>9:00-10:15 AM</td>
    <td>Mai Odeh</td>
    <td>mo69@nyu.edu</td>
    <td>N/A</td>
  </tr>
  <tr>
  	 	<!-- <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td> -->
    <td> 		<label class="container">3
  <input type="checkbox" >
  <span class="checkmark"></span>
</label></td>
    <td>Tue/Thurs</td>
    <td>9:00-10:15 AM</td>
    <td>Mai Odeh</td>
    <td>mo69@nyu.edu</td>
    <td>N/A</td>
  </tr>
  <tr>
  	 	<!-- <td><input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"></td> -->
    <td> 		<label class="container">4
  <input type="checkbox" >
  <span class="checkmark"></span>
</label></td>
    <td>Tue/Thurs</td>
    <td>9:00-10:15 AM</td>
    <td>Mai Odeh</td>
    <td>mo69@nyu.edu</td>
    <td>N/A</td>
  </tr>

</table>

</body>
</html>
