
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head> 
    <body>
            <label for="year">Year</label>
            <select id="year">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
            <label for="sem">Semester</label>
            <select id="sem">
                <option value="sp">Spring</option>
                <option value="fa">Fall</option>
                <option value="su">Summer</option>
                <option value="ja">January</option>
            </select>
            <label for="department">Department</label>
            <input id="department" list="departments" placeholder="Start typing...">
            <datalist id="departments">
                {% for department in all_departments %}
                    <option>{{department}}</option>
                {% endfor %}
            </datalist>
            <label for="query">Keywords</label>
            <input id="query">
            <button id="submit">Submit</button>
        <div id="search_results">
            
        </div>
        <script src="{{url_for('static', filename='js/search.js')}}"></script>
    </body>
</html>