<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
   <link rel="stylesheet" href="style.css"/> 
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="banner">
	<a id="none" href="main.html"><h2> NYU ABU DHABI </h2> </a>
</div>

<!-- make the lil form here!!! -->
<div id="form">
<label id="try1" for="year">Year</label>
            <select id="year">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
            <label id="try2" for="sem">Semester</label>
            <select id="sem">
                <option value="sp">Spring</option>
                <option value="fa">Fall</option>
                <option value="su">Summer</option>
                <option value="ja">January</option>
            </select>
            <label id="try3"for="department">Department</label>
            <input id="department" list="departments" placeholder="Start typing...">
            <datalist id="departments">
                {% for department in all_departments %}
                    <option>{{department}}</option>
                {% endfor %}
            </datalist>
            
            <button id="try5" id="submit">Submit</button>
        </div>

<!-- Course Search API, I can CSS it :)  -->

<div id="search_results"></div>



<script src="{{url_for('static', filename='js/search.js')}}"></script>
<script src="{{url_for('static', filename='js/addtoplan.js')}}"></script>
<!-- <script src="script.js"></script> -->
</body>
</html>
