<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
<div id="banner">
	<a id="none" href="main.html"><h2> NYU ABU DHABI </h2> </a>
</div>
<!-- Table -->


<label id="nmn" for="query">New Major Name</label>
<input id="newMajorName">
<button id="addMajor" id="submit">Add Major</button>

{% for major in majors %}
<table id="adminTable">
  <tr id="adminHeading">
    <th id="th4">Computer Science</th>
    <th id="th41">Edit</th>
  </tr>
  <tr id="adminContent">
    <td id="td4">Req 1</td>
    <td id="td41"><button id="editcourse">Edit</button></td>
  </tr>
  <tr id="adminContent">
    <td id="td4">Req 2</td>
    <td id="td41"><button id="editcourse">Edit</button></td>
  </tr>
</table>

{%endfor%}







</body>
</html>