<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div id="banner">
	<a id="none" href="main.html"><h2> NYU ABU DHABI </h2> </a>
</div>
<!-- Table -->


<label id="nmn" for="newMajorName">New Major Name</label>
<input id="newMajorName">
<button id="addMajor" id="submit" onclick="addMajor(this)">Add Major</button>

{% for major in majors %}
<table id="adminTable">
  <tr id="adminHeading">
    <th id="th4">{{major['name']}}</th>
    <th id="th41">
      <label id="nrn" for="newRequirement">Requirement Name</label>
      <input id="newRequirement">
      <button id="addRequirement" id="submit" onclick="addReq(this)">Add Requirement</button>
    </th>
  </tr>

  {%for req in major['requirements'] %}
    <tr id="adminContent">
      <td id="td4">{{req['name']}}</td>
      <td id="td41">
        <label id="nrn" for="newPreReq">Prerequisite Name</label>
        <input id="newPreReq">
        <button id="addRequirement" id="submit" onclick="addPreReq(this)">Add Prerequisite</button>
      </td>
    </tr>

    {%for pre in major['prereqs']%}
      <tr id="adminContent">
        <td id="td4">{{prereq['name']}}</td>
        <td id="td41">
        </td>
      </tr>


    {%endfor%}



  {%endfor%}
  
</table>

{%endfor%}





<script src="{{url_for('static', filename='js/majors.js')}}"></script>

</body>
</html>