<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>



<p id="maj">Major: {{major}} </p>
<p id="maj">Progress: {{r['percentage']}} </p>
<ul id="majorReqList">List of Requirements
  {%for req in r['required']%}
  <li>{{req}}</li>
  {%endfor%}
</ul> 
<div class="float-container">
<ul id="DoneReqList">Requirements Done:
  {%for req in r['done']%}
  <li>{{req}}</li>
  {%endfor%}
</ul> 

<ul id="leftReqList">Requirements Left:
  {%for req in r['left']%}
  <li>{{req}}</li>
  {%endfor%}
</ul> 
</div>

 <script src="script.js"> </script>

</body>
</html>
