<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 

</head>
<body>


<!-- Table -->
<table id="table2" style="width:100%">
  <tr id="tr2">
    <p id="t">Year 1</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
  
  <tr id="tr2">
   
    <td id="td2Fall">
      <button id="tempButton">Class1</button>
    </td>
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class3</button></td>
    <td id="td2Fall"><button id="tempButton">Class4</button></td>
    <td id="td2Fall"><button id="tempButton">Class5</button></td>
  </tr>
  <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
  </tr>

</table>
<table id="table2" style="width:100%">
  <tr id="tr2">
    <p id="t">Year 2</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
  
  <tr id="tr2">
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class3</button></td>
    <td id="td2Fall"><button id="tempButton">Class4</button></td>
    <td id="td2Fall"><button id="tempButton">Class5</button></td>
  </tr>
  <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
  </tr>
  
</table>
<table id="table2" style="width:100%">
  <tr id="tr2">
    <p id="t">Year 3</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
 
  <tr id="tr2">
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class3</button></td>
    <td id="td2Fall"><button id="tempButton">Class4</button></td>
    <td id="td2Fall"><button id="tempButton">Class5</button></td>
  </tr>
   <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
  </tr>
  
</table>

<table id="table2" style="width:100%">
  <tr id="tr2">
    <p id="t">Year 4</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
  <tr id="tr2">
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class2</button></td>
    <td id="td2Fall"><button id="tempButton">Class3</button></td>
    <td id="td2Fall"><button id="tempButton">Class4</button></td>
    <td id="td2Fall"><button id="tempButton">Class5</button></td>
  </tr>
  <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
  </tr>
  
</table>


 <script src="script.js"> </script>

</body>
</html>
