<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 

</head>
<body>
<div id="banner">
	<a id="none" href="main.html"><h2> NYU ABU DHABI </h2> </a>
</div>
<p id="f1"> Generate <span id="link1">Automatic</span> Four-Year Plan </p>
<p id="explain"> A plan generated for you based on your progress so far</p>

<p id="f2"> <span id="link2">Maunually</span> Input Four-Year Plan </p>
<p id="explain2"> Create your own plan</p>
<button  id="back"> back </button>

<!-- Table -->
<table id="table2" style="width:100%">
  <tr id="tr2">
  	<p id="t">Year 1</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
  
  <tr id="tr2">
    <td id="td2Fall">Class1</td>
    <td id="td2Fall">Class2</td>
    <td id="td2Fall">Class3</td>
    <td id="td2Fall">Class4</td>
  </tr>
  <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2">Class5</td>
    <td id="td2">Class6</td>
    <td id="td2">Class7</td>
    <td id="td2">Class8</td>
  </tr>

</table>
<table id="table2" style="width:100%">
  <tr id="tr2">
  	<p id="t">Year 2</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
  
  <tr id="tr2">
    <td id="td2Fall">Class1</td>
    <td id="td2Fall">Class2</td>
    <td id="td2Fall">Class3</td>
    <td id="td2Fall">Class4</td>
  </tr>
  <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2">Class5</td>
    <td id="td2">Class6</td>
    <td id="td2">Class7</td>
    <td id="td2">Class8</td>
  </tr>
  
</table>
<table id="table2" style="width:100%">
  <tr id="tr2">
  	<p id="t">Year 3</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
 
  <tr id="tr2">
    <td id="td2Fall">Class1</td>
    <td id="td2Fall">Class2</td>
    <td id="td2Fall">Class3</td>
    <td id="td2Fall">Class4</td>
  </tr>
   <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2">Class5</td>
    <td id="td2">Class6</td>
    <td id="td2">Class7</td>
    <td id="td2">Class8</td>
  </tr>
  
</table>

<table id="table2" style="width:100%">
  <tr id="tr2">
  	<p id="t">Year 4</p>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
    <th id="th2"></th>
  </tr>
  <tr id="tr2">
    <td id="td2Fall">Class1</td>
    <td id="td2Fall">Class2</td>
    <td id="td2Fall">Class3</td>
    <td id="td2Fall">Class4</td>
  </tr>
  <th id="th2">January: </th>
  <tr id="tr2">
    <td id="td2">Class5</td>
    <td id="td2">Class6</td>
    <td id="td2">Class7</td>
    <td id="td2">Class8</td>
  </tr>
  
</table>


 <script src="script.js"> </script>

</body>
</html>
