<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 
   <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/> 

</head>
<body>
<div id="banner">
	<a id="none" href="main.html"><h2> NYU ABU DHABI </h2> </a>
</div>
<p id="f1"> Generate <span id="link1">Automatic</span> Four-Year Plan </p>
<p id="explain"> A plan generated for you based on your progress so far</p>

<p id="f2"> <span id="link2">Maunually</span> Input Four-Year Plan </p>
<p id="explain2"> Create your own plan</p>
<button  id="back"> back </button>

<!-- table: request using ajax - template on plan.html -->
<div id="plan"></div>


 <script src="{{url_for('static', filename = 'js/script.js')}}"> </script>

</body>
</html>
