<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css"/> 
  
   <title></title>
</head>
<body id="login">
<div id="banner">
	<h2> NYU ABU DHABI </h2> 
</div>

<p id="mainHeader"> CAR Login </p>
<p id="sub"> course analysis and registration</p>
<div id="loginInfo">
<a href="main.html"><p>INSERT LOGIN INFORMATION</p></a>
</div>

 <script src="script.js"> </script>
</body>
</html>