<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
   <link rel="stylesheet" href="style.css"/> 
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
  
   <title></title>
</head>
<body>
<div id="banner">
	<h2> NYU ABU DHABI </h2> 
</div>
<p id="name"> Name</p> <!-- passed with python on jinja  -->
<p id="info"> major, minor</p> <!-- passed with python on jinja  -->
<p id="exp1">
	</p>
<p id="exp2">
</p>
<p>

<a href="search" target="_blank" class="button"id="b1"> Course Search </button></a>
<a href="fyp" target="_blank" class="button" id="b2"> Four-Year Plan </button>
<a href="degreeProgress.html" target="_blank" class="button" id="b3"> Degree Progress </button>


 <script src="script.js"> </script>
</body>
</html>
