<link rel="stylesheet" href="style.css"/> 
<table id="table2" style="width:100%">
    <tr id="tr2">
        <p id="t">Year 1</p>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
    </tr>
    
    <tr id="tr2">
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
    </tr>
    <th id="th2">January: </th>
    <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    </tr>
  
  </table>
  <table id="table2" style="width:100%">
    <tr id="tr2">
        <p id="t">Year 2</p>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
    </tr>
    
    <tr id="tr2">
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
    </tr>
    <th id="th2">January: </th>
    <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    </tr>
    
  </table>
  <table id="table2" style="width:100%">
    <tr id="tr2">
        <p id="t">Year 3</p>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
    </tr>
   
    <tr id="tr2">
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
    </tr>
     <th id="th2">January: </th>
    <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    </tr>
    
  </table>
  
  <table id="table2" style="width:100%">
    <tr id="tr2">
        <p id="t">Year 4</p>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
      <th id="th2"></th>
    </tr>
    <tr id="tr2">
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
      <td id="td2Fall"><button id="tempButton">Class1</button></td>
    </tr>
    <th id="th2">January: </th>
    <tr id="tr2">
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    <td id="td2"><button id="tempButtonS">Class1</button></td>
    </tr>
    
  </table>